*{margin:0;}
header {
    background-color: rgb(0, 126, 27);
    padding: 0px;
    overflow: hidden;
    margin-bottom: 20px;
    border-color: rgba(1, 197, 43, 0.438);
    border-style: solid;
    border-width: 1px;
}

header .logo {
    height: 50px;
    line-height: 30px;
    margin: 5px;
}
header div{
   float: left;
}
header .titulo {
    line-height: 65px;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

header nav {
    float:right;
    line-height: 65px;
}

header nav a{
    display: inline-block;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    font-size: 17px;
    line-height: normal;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
header nav .active{
    color: rgb(162, 231, 0);
}
header nav a:hover{
    background-color: rgb(1, 189, 42);
    border-radius: 80px;
}

.imagen {
    width: 500px;
}

.centrado{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

section .slider {
    width: 50%;
    margin-right: 20px;
    float: right;
    overflow: hidden;
}

section .slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    height: 300px;
    animation: cambio 20s infinite;
}

section .slider li {
    width: 100%;
    list-style: none;
}

section .slider img {
    width: 100%;
    
}

@keyframes cambio {
    0% { margin-left: 0%; }
    20% { margin-left: 0%; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
}

@media screen and (max-width: 950px) {
	header .logo, header .titulo{
        display: none;
    }
	header nav, header .titulo{
		width:100%;
		text-align:center; /*Centramos el menu*/
	}
}

input[type=text], select, input[type=password] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 100%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
.button-form[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
  }
  
.button-form[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 50%;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
  
.col-25 {
    float: left;
    width: 30%;
    margin-top: 6px;
  }
  
.col-75 {
    float:left;
    width: 67%;
    margin-top: 6px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}
.col-pers{
    float: left;
    width: 45%;
    margin-top: 6px;
}
.col-pers2{
    float: right;
    width: 55%;
    margin-top: 15px;
}
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:1080px) {
    .col-75{
      width: 95%;
      margin-top: 0;
    }
    button[type=submit] {
        margin-top: 5px;

    }
    .col-pers2{
        float: left;
    }
    .col-25{
        width: 100%;
    }
     .col-pers{
        width: 75%;
    }
    .recordar{
        width: 50%;
  }
}

.required {
    color: red;
    padding-left: 4px;
}

body {
    background-color: #e0e0e0;
}
.sector{
    min-height: 71.5vh;
}
footer {
    background-color: #222;
    padding: 20px ;
    color: #fff;
    margin-top: 30px;
    align-self: flex-end;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color:rgb(0, 126, 27);
}

footer .copyright {
    margin-top: 3px;
    float:left;
}

footer section {
    float: right;
}

footer .terminos{
    margin-top: 3px;
    text-align: center;
}

.ubi{
    margin-top: 3px;
    margin-left: 1px;
    font-style: oblique;
}

.oculta{
    display: none;
}

.flotante-left {
    float:left;
    width: 30%;
}

.info {
    text-align: center;
    width: 70%;
    font-weight: bold;
    font-style: oblique;
}

.titulo-casos {
    text-align: center;
    font-size: xx-large;
}

.imagen-casos {
    width: 100%;
    height: auto; 
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
    object-fit: contain;
}

.float-left{
    float:left;
}

.float-right {
    float:right;
}

.button {
    margin: 10px;
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50;
    border:none;
}

.button:hover{
    background-color: #45a049;
}

.contenedor-left{
    width: 40%;
    margin-left: 10px;
    padding-right: 10px;
    align-self: center;
}

.contenedor-right{
    width: 55%;
    margin-right: 10px;
    padding: 10px;
    align-self: right;
}

.marco {
    border-radius: 5px;
    background-color: #f2f2f2;
    /* min-height: calc(100vh - 90px);  */
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    overflow: hidden;
}

.separador {
    margin-top: 5px;
    margin-bottom: 5px;
}

.abajo {
    align-self: flex-end;
}

/* .cuerpo {
    min-height: 100vh;
}  */

#imagen-caso{
    display: block;
}

.alternador{
    display: none;
    align-self: center;
}
@media screen and (max-width:1080px) {
    .contenedor-left{
      width: 95%;
      float: none;
    }
    #imagen-caso{
        display:none;
    }
    #boton1{
        display: block;
    }
    .contenedor-right{
        float: none;
        width: 95%;
    }
    
    .float-left{
        float: none;
    }
    .info, .flotante-left{
        width: 50%;
    }
}
@media screen and (max-height:593px) {
    .marco{
        min-height:  525px;
    }
}

.container-fluid {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    margin: 20px;
    width: 44%;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3);
    height: 300px;
    overflow: hidden;
}
.media{
    float: left;
    width: 40%;
    height: 250px;
}
.body{
    width: 55%;
    float: right;
}
.imagen-small{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.card-title{
    font: bold;
    margin-bottom: 10px;
}
.text-center{
    text-align: center;
}

.card-subtitle{
    font: bold;
}
.card-text{
    text-align: justify;
    font-style: oblique;
}
.card-btn{
    width: 100%;
}

.centrar_caso{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.text-center{
    text-align: center;
}

.btn{
    color: white;
    text-decoration: none;
}