<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="sector">
    <div class="container">
        <form action="/cultivo/{{userid}}" method="post" name="eliminar_cultivo">
            <div class="row">
                <div class="col-25">
                    <label for="nombre">Nombre del cultivo que desea eliminar:</label>
                </div>
                <div class="col-75">
                    <input id="nombre" name="nombre" required placeholder="Ingrese nombre del cultivo..."
                           type="text" size="50">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="tipo">Tipo del cultivo:</label>
                </div>
                <div class="col-75">
                    <select id="tipo" name="tipo" required>
                        <option value="Otro">Otro</option>
                        <option value="Cereales">Cereales</option>
                        <option value="Leguminosas">Leguminosas</option>
                        <option value="Oleaginosas">Oleaginosas</option>
                        <option value="Hortalizas">Hortalizas</option>
                        <option value="Frutales">Frutales</option>
                        <option value="Ornamentales">Ornamentales</option>
                        <option value="Raíces y tubérculos">Raíces y tubérculos</option>
                        <option value="Cultivos para bebidas medicinales y aromáticas">Cultivos para bebidas medicinales
                            y aromáticas
                        </option>
                        <option value="Cultivos tropicales tradicionales">Cultivos tropicales tradicionales</option>
                        <option value="Pastos">Pastos</option>
                    </select>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <button class="button-form" id="crear_submit" name="crear_submit" type="submit">Eliminar cultivo
                </button>
            </div>
        </form>
    </div>
</section>
<footer>
    <div class="copyright">
        <p>Copyright 2021</p>
    </div>
    <section>
        <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
        </div>
    </section>
    <div class="terminos">
        <a href="#">Terminos y Condiciones</a>
    </div>
</footer>
</body>
</html>