<!DOCTYPE html>
<html lang="en">

<head>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/estilos.css') }}" rel="stylesheet">
    <!-- Fuente del logo -->
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div>
            <a href="/index"><img class="logo" src="../static/imagenes/logo.png"></a>
        </div>
        <a class="titulo" href="/index">Horticultura Virtual</a>
        <nav>
            <a class="" href="/index">Inicio</a>
            <a class="" href="#">Cultivos</a>
            <a class="" href="/casos/{{ userid }}">Mis Casos</a>
            <a class="active" href="/todosloscasos">Todos los casos</a>
            <a class="" href="/logout">Log Out ({{ nickname }})</a>
            <a class="" href="/usuario">Perfil</a>
        </nav>
    </header>
    <section class="sector">
        <button>Ordenar por tipo de cultivo</button>
        <article>
            <h3>Nombre de la planta</h3>
            <img src="">
            <p><span style="color: red;">Tipo de planta:</span>este es el tipo de la planta</p>
            <p>Descripcion del caso</p>
            <p>Estado delcaso: en progreso</p>
            <p>ultima actualizacion. xx/xx/xx</p>
            <button>Ver caso</button>
        </article>
    </section>
    <footer>
        <div class="copyright">
            <p>Copyright 2021</p>
        </div>
        <section>
            <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
            </div>
        </section>
        <div class="terminos">
            <a href="#">Terminos y Condiciones</a>
        </div>
    </footer>
</body>

</html>