<!DOCTYPE html>
<html lang="en">

<head>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/estilos.css') }}" rel="stylesheet" type="text/css">
    <!-- Fuente del logo -->
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <header>
        <div>
            <a href="/index"><img class="logo" src="/static/imagenes/logo.png"></a>
        </div>
        <a class="titulo" href="/index">Horticultura Virtual</a>
        <nav>
            <a class="" href="/index">Inicio</a>
            <a class="" href="#">Cultivos</a>
            <a class="" href="/casos/{{usuario[0]}}">Mis Casos</a>
            {% if rol == 1 %}
            <a class="" href="/caso/{{ usuario[0] }}">Crear caso</a>
            {% else %}
            <a class="" href="/casos">Todos los casos</a>
            {% endif %}
            <a class="" href="/logout">Log Out ({{ usuario[3] }})</a>
            <a class="" href="/usuario">Perfil</a>
        </nav>
    </header>
    <section class="sector prueba-modal">
        <div class="marco">
            <div class="cuerpo">
                <h2 class="titulo-casos">{{nombre}}</h2>
                <hr>
                <br>
                <div>
                    <div class="contenedor-right float-right">
                        <div>
                            <p class="flotante-left">Tipo de planta:</p> <span class="info">{{tipo}}</span>
                        </div>
                        <div class="separador">
                            <p class="">Descripcion:</p> <span class="info">{{texto}}</span>
                        </div>
                        <br>
                        <div>
                            <p class="flotante-left">Estado del caso:</p> <span class="info">{{estado}}</span>
                        </div>
                        <br>
                        <div>
                            <p class="flotante-left">Evolucion del Caso:</p> <span class="info">{{evolucion}}</span>
                        </div>
                        <div class="separador">
                            <p class="">Recomendaciones:</p> <span class="info">{{recomendacion}}</span>
                        </div>
                        <br>
                        <div>
                            <p class="flotante-left">Especialista a cargo:</p> <span
                                class="info">{{especialista}}</span>
                        </div>
                        <br>
                        <div>
                            <p class="flotante-left">Ultima Actualizacion:</p> <span class="info">{{date}}</span>
                        </div>
                    </div>
                    <div class="contenedor-left float-left">
                        <img id="imagen-caso" class="imagen-casos" src="{{fotos}}" />
                    </div>
                    <div class="clearfix"></div>
                    <button id="boton1" class="alternador button">Ver Foto</button>
                </div>
            </div>
            <div class="abajo">
                {% if rol == 1 %}
                <form action="/modificar_caso/{{ idcaso }}" method="get">
                    <button class="float-right button" type="submit">Editar
                        caso</button>
                </form>
                <button id="finalizar" class="button" type="submit">Pasar a resuelto</button>
                <button class="button cta" type="submit">Eliminar caso</button>
                {% else %}
                <button id="finalizar" class="button" type="submit">Pasar a resuelto</button>
                <a href="/caso/recomendacion/{{idcaso}}"><button id="rec" class="float-right button" type="submit">Registrar Recomendacion</button></a>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="modal-container">
        <div class="modal modal-close">
            <div class="modal-textos">
                <div>
                    <h2>¿Seguro que quieres eliminar este caso?</h2>
                    <p>Se borrara permanentemente</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="abajo">
                <button class="button float-left2 close">Cancelar</button>
                <button class="button float-right2"
                    onclick="borrar_caso('{{idcaso}}', '{{ usuario[0] }}')">Eliminar</button>
            </div>
        </div>
    </div>
    <div id="mcontainer" class="modal-container">
        <div id="mfinal" class="modal modal-close">
            <div class="modal-textos">
                <div>
                    <h2>¿Quieres pasar a resuelto el caso?</h2>
                    <p>Se cambiara el estado del caso a finalizado</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="abajo">
                <button id="close" class="button float-left2">Cancelar</button>
                <button class="button float-right2"  onclick="finalizar_caso('{{idcaso}}')">Finalizar caso</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="copyright">
            <p>Copyright 2021</p>
        </div>
        <section>
            <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
            </div>
        </section>
        <div class="terminos">
            <a href="#">Terminos y Condiciones</a>
        </div>
    </footer>
    <script src="/static/js/codigo.js"></script>
</body>

</html>