<!DOCTYPE html>
<html lang="en">

<head>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/estilos.css') }}" rel="stylesheet" type="text/css">
    <!-- Fuente del logo -->
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <header>
        <div>
            <a href="/index"><img class="logo" src="/static/imagenes/logo.png"></a>
        </div>
        <a class="titulo" href="/index">Horticultura Virtual</a>
        <nav>
            <a class="" href="/index">Inicio</a>
            <a class="" href="#">Cultivos</a>
            <a class="" href="/casos/{{usuario[0]}}">Mis Casos</a>
            {% if rol == 1 %}
            <a class="" href="/caso/{{ usuario[0] }}">Crear caso</a>
            {% else %}
            <a class="" href="/casos">Todos los casos</a>
            {% endif %}
            <a class="" href="/logout">Log Out ({{ usuario[3] }})</a>
            <a class="" href="/usuario">Perfil</a>
        </nav>
    </header>
    <section class="sector prueba-modal">
        <div class="marco">
            <div class="cuerpo">
                <h2 class="titulo-casos">{{nombre}}</h2>
                <hr>
                <br>
                <div>
                    <div class="contenedor-right float-right">
                        <div>
                            <p class="flotante-left">Tipo de planta:</p> <span class="info">{{tipo}}</span>
                        </div>
                        <div class="separador">
                            <p class="">Descripcion:</p> <span class="info">{{texto}}</span>
                        </div>
                        <br>
                        <div>
                            <p class="flotante-left">Estado del caso:</p> <span class="info">{{estado}}</span>
                        </div>
                        <!-- <br>
                        <div>
                            <p class="flotante-left">Evolucion del Caso:</p> <span class="info">{{evolucion}}</span>
                        </div> -->
                        <div class="separador">
                            <p class="">Recomendaciones:</p> <span class="info">{{recomendacion}}</span>
                        </div>
                        <br>
                        <div>
                            <p class="flotante-left">Especialista a cargo:</p> <span
                                class="info">{{especialista}}</span>
                        </div>
                        <br>
                        <div>
                            <p class="flotante-left">Ultima Actualizacion:</p> <span class="info">{{date}}</span>
                        </div>
                    </div>
                    <div class="contenedor-left float-left">
                        <img id="imagen-caso" class="imagen-casos" src="{{fotos}}" />
                    </div>
                    <button id="boton1" class="alternador button">Ver Foto</button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="abajo">
                {% if rol == 1 %}
                {% if usuario[0] == userid %}
                <form action="/modificar_caso/{{ idcaso }}" method="get">
                    <button class="float-right2 button" type="submit">Editar
                        caso</button>

                </form>
                <a onClick='addIcs();'></a>
                <!-- <button class="button float-right2" type="button" onclick="addRecordatorio()">Agendar Recordatorio</button> -->
                <button class="button cta float-left2" type="submit">Eliminar caso</button>
                <button id="finalizar" class="float-left2 button" type="submit">Pasar a resuelto</button>
                {% endif %}
                {% else %}
                <button id="finalizar" class="button" type="submit">Pasar a resuelto</button>
                <a href="/caso/recomendacion/{{idcaso}}"><button id="rec" class="float-right button"
                        type="submit">Registrar Recomendacion</button></a>
                {% endif %}
            </div>
            <div class="clearfix"></div>
            {% for evo in evolucion_caso %}
            <br>
            <div class="comentario_content">
                <div id="{{ evo[0] }}">
                    {% if evo[2] != "" %}
                    {% if userid == usuario[0] %}
                    <div id="header3">
                        <ul class="nav2">
                            <li><span class="material-icons">
                                    settings
                                </span>
                                <ul class="lista">
                                    <li><button type="submit" class="btn_vacio" onclick="habilitar_edit('{{evo[0]}}')">Editar</button></li>
                                    <li><button type="submit" class="btn_vacio" onclick="abrir_evolucion('{{evo[0]}}')">Borrar</button></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                    <div class="comentario-der">
                        <label class="contenido">{{evo[1]}}</label>

                    </div>
                    <div class="comentario-izq">
                        <image class="imagen-coment" src="{{evo[2]}}"></image>
                    </div>
                    {% else %}
                    {% if userid == usuario[0] %}
                    <div id="header2">
                        <ul class="nav2">
                            <li><span class="material-icons">
                                    settings
                                </span>
                                <ul class="lista">
                                    <li><button type="submit" class="btn_vacio" onclick="habilitar_edit('{{evo[0]}}')">Editar</button></li>
                                    <li><button type="submit" class="btn_vacio" onclick="abrir_evolucion('{{evo[0]}}')">Borrar</button></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                    <div class="comentario-der">
                        <label class="contenido">{{evo[1]}}</label>
                    </div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div id="{{ evo[0] }}edit" class="oculta">
                    <form action="/editar_evo/{{ evo[0] }}" method="POST" enctype="multipart/form-data">
                        <textarea id="coment_edit" name="coment_edit" class="comentario" required>{{evo[1]}}</textarea>
                        <div class="clearfix"></div>
                        <input class="oculta" id="idcaso" name="idcaso" value="{{idcaso}}">
                        <input accept="image/*" id="foto_edit" name="foto_edit" type="file">
                        <div class="oculta">
                            <input id="date2" name="date2" type="text" >
                        </div>
                        <div class="clearfix"></div>
                        <button class="button" type="button" onclick="cancelar_edit('{{evo[0]}}')">Cancelar</button>
                        <button class="button-form" type="submit">Editar</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% if userid == usuario[0] %}
            <form action="/evolucion" method="POST" enctype="multipart/form-data">
                <textarea id="coment" name="coment" class="comentario" required
                    placeholder="Escribe el detalle de la evolucion..."></textarea>
                <div class="clearfix"></div>
                <input class="oculta" id="idcaso" name="idcaso" value="{{idcaso}}">
                <div class="oculta">
                    <input id="date2" name="date2" type="text" >
                </div>
                <input accept="image/*" id="foto" name="foto" type="file">
                <button class="button-form" type="submit">Postear</button>
            </form>
            {% endif %}
        </div>
    </section>
    <section>
        <br>
        <div class="cuerpoC">
            {% for coment in comentarios %}
            <div class="comentario_content">
                <div id="{{ coment[0] }}">
                    {% if coment[5] != "" %}
                    {% if coment[2] == usuario[0] %}
                    <div id="header3">
                        <ul class="nav2">
                            <li><span class="material-icons">
                                    settings
                                </span>
                                <ul class="lista">
                                    <li><button type="submit" class="btn_vacio"
                                            onclick="cambiar_edit('{{ coment[0] }}')">Editar</button></li>
                                    <li><button type="submit" class="btn_vacio"
                                            onclick="abrir_comentario('{{ coment[0]}}')">Borrar</button></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                    <div class="comentario-der">
                        <label class="subtitulo">{{coment[3]}}</label>

                        <label class="contenido">{{coment[1]}}</label>
                    </div>
                    <div class="comentario-izq">
                        <image class="imagen-coment" src="{{coment[5]}}"></image>
                    </div>
                    {% else %}
                    {% if coment[2] == usuario[0] %}
                    <div id="header2">
                        <ul class="nav2">
                            <li><span class="material-icons">
                                    settings
                                </span>
                                <ul class="lista">
                                    <li><button type="submit" class="btn_vacio"
                                            onclick="cambiar_edit('{{ coment[0] }}')">Editar</button></li>
                                    <li><button type="submit" class="btn_vacio" id="{{ coment[0] }}"
                                            onclick="abrir_comentario('{{ coment[0]}}')">Borrar</button></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                    <label class="subtitulo">{{coment[3]}}</label>

                    <label class="contenido">{{coment[1]}}</label>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div id="{{ coment[0] }}edit" class="oculta">
                    <form action="/editar_coment/{{ coment[0] }}" method="POST" enctype="multipart/form-data">
                        <textarea id="coment_edit" name="coment_edit" class="comentario"
                            required>{{coment[1]}}</textarea>
                        <div class="clearfix"></div>
                        <input class="oculta" id="idcaso" name="idcaso" value="{{idcaso}}">
                        <input accept="image/*" id="foto_edit" name="foto_edit" type="file">
                        <div class="oculta">
                            <input id="date2" name="date2" type="text" >
                        </div>
                        <div class="clearfix"></div>
                        <button class="button" type="button"
                            onclick="cambiar_coment('{{ coment[0]}}')">Cancelar</button>
                        <button class="button-form" type="submit">Comentar</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            <form action="/comentar" method="POST" enctype="multipart/form-data">
                <textarea id="coment" name="coment" class="comentario" required
                    placeholder="Escribe un cometario..."></textarea>
                <div class="clearfix"></div>
                <div class="oculta">
                    <input id="date2" name="date2" type="text" >
                </div>
                <input class="oculta" id="idcaso" name="idcaso" value="{{idcaso}}">
                <input accept="image/*" id="foto" name="foto" type="file">
                <button class="button-form" type="submit">Comentar</button>
            </form>
        </div>
    </section>
    <div class="modal-container">
        <div class="modal modal-close">
            <div class="modal-textos">
                <div>
                    <h2>¿Seguro que quieres eliminar este caso?</h2>
                    <p>Se borrara permanentemente</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="abajo">
                <button class="button float-right2"
                    onclick="borrar_caso('{{idcaso}}', '{{ usuario[0] }}')">Eliminar</button>
                <button class="button float-left2 close">Cancelar</button>
            </div>
        </div>
    </div>
    <div id="coment_modal" class="modal-container">
        <div id="coment_m" class="modal modal-close">
            <div class="modal-textos">
                <div>
                    <h2>¿Seguro que quieres eliminar este comentario?</h2>
                    <p>Se borrara permanentemente</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="abajo">
                <button class="button float-right2" onclick="borrar_comentario('{{idcaso}}')">Eliminar</button>
                <button id="closeC" class="button float-left2 close">Cancelar</button>
            </div>
        </div>
    </div>
    <div id="evo_modal" class="modal-container">
        <div id="evo_m" class="modal modal-close">
            <div class="modal-textos">
                <div>
                    <h2>¿Seguro que quieres eliminar esta evolucion?</h2>
                    <p>Se borrara permanentemente</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="abajo">
                <button class="button float-right2" onclick="borrar_evolucion('{{idcaso}}')">Eliminar</button>
                <button id="closeE" class="button float-left2 close">Cancelar</button>
            </div>
        </div>
    </div>
    <div id="mcontainer" class="modal-container">
        <div id="mfinal" class="modal modal-close">
            <div class="modal-textos">
                <div>
                    <h2>¿Quieres pasar a resuelto el caso?</h2>
                    <p>Se cambiara el estado del caso a finalizado</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="abajo">
                <button class="button float-right2" onclick="finalizar_caso('{{idcaso}}')">Finalizar caso</button>
                <button id="close" class="button float-left2">Cancelar</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="copyright">
            <p>Copyright 2021</p>
        </div>
        <section>
            <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
            </div>
        </section>
        <div class="terminos">
            <a href="#">Terminos y Condiciones</a>
        </div>
    </footer>
    <script src="/static/js/codigo.js"></script>
</body>

</html>