<!DOCTYPE html>
<html lang="en">

<head>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/estilos.css') }}" rel="stylesheet">
    <!-- Fuente del logo -->
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <header>
        <div>
            <a href="/index"><img class="logo" src="../static/imagenes/logo.png"></a>
        </div>
        <a class="titulo" href="/index">Horticultura Virtual</a>
        <nav>
            <a class="" href="/index">Inicio</a>
            <a class="" href="#">Cultivos</a>
            <a class="active" href="/casos/{{userid}}">Mis Casos</a>
            {% if rol == 1 %}
            <a class="" href="/caso/{{ userid }}">Crear caso</a>
            {% else %}
            <a class="" href="/todosloscasos">Todos los casos</a>
            {% endif %}
            <a class="" href="/logout">Log Out ({{ nickname }})</a>
            <a class="" href="/usuario/{{ userid }}">Perfil</a>
        </nav>
    </header>
    <section class="sector">
        <div class="marco">
            <div class="cuerpo">
                <h2 class="titulo-casos">{{nombre}}</h2>
                <br>
                <div>
                    
                    <div class="contenedor-right float-right">
                        <div>
                            <p class="flotante-left">Tipo de planta:</p> <span class="info">{{tipo}}</span>
                        </div>
                        <div class="separador">
                            <p class="">Descripcion:</p> <span class="info">{{texto}}</span>
                        </div>
                        <div>
                            <p class="flotante-left">Estado del caso:</p> <span class="info">{{estado}}</span>
                        </div>
                        <div>
                            <p class="flotante-left">Evolucion del Caso:</p> <span class="info">{{evolucion}}</span>
                        </div>
                        <div class="separador">
                            <p class="">Recomendaciones:</p> <span class="info">{{recomendacion}}</span>
                        </div>
                        <div>
                            <p class="flotante-left">Especialista a cargo:</p> <span
                                class="info">{{especialista}}</span>
                        </div>
                        <div>
                            <p class="flotante-left">Ultima Actualizacion:</p> <span class="info">{{date}}</span>
                        </div>
                    </div>
                    <div class="contenedor-left float-left">
                        <img id="imagen-caso" class="imagen-casos" src="{{fotos}}" width="500" />
                    </div>
                    <div class="clearfix"></div>
                    <button id="boton1" class="alternador button" onclick="setImageDisplay('imagen-caso')">Ver Foto</button>
                </div>
            </div>
            <div class="abajo">
                <button class="float-right button" type="submit" >Editar
                    caso</button>
                <button class="button" type="submit" onclick="borrar_caso('{{idcaso}}', '{{ userid }}')">Eliminar caso</button>
            </div>
        </div>
    </section>
    <footer>
        <div class="copyright">
            <p>Copyright 2021</p>
        </div>
        <section>
            <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
            </div>
        </section>
        <div class="terminos">
            <a href="#">Terminos y Condiciones</a>
        </div>
    </footer>
    <script src="../static/js/codigo.js"></script>
</body>

</html>