<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        Horticultura
    </title>
    <link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="">
        <a href="#">Editar Perfil</a>
        <div>
            <a class="active" href="#">Inicio</a>
            <a class="" href="#">Ver Cultivos</a>
            <a class="" href="/casos">Ver Mis Casos</a>
            <a class="" href="#">Crear nuevo caso</a>
            <a class="" href="/logout">Log Out ({{ nickname }})</a>
            <a class="" href="#">Perfil</a>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="texto">Horticultura</h1>
    </div>
    <div id="container">
        <form action="/usuario/{{ userid }}" method="POST" name="profile" onsubmit="return validateProfileDHTML(this)">
            <div class="inputs">
                <label for="nombre">Nombre Completo:</label>
                <input id="nombre" maxlength="64" name="nombre" required placeholder="Ingrese su nombre y apellido..."
                    size="80" type="text" value="{{ nombre }}" />
            </div>
            <div class="inputs">
                <label for="email">Email:</label>
                <input id="email" name="email" required placeholder="Ingrese su email..." size="80" type="text"
                    value="{{ email }}" />
            </div>
            <div class="inputs">
                <label for="usuario">Usuario:</label>
                <input id="usuario" name="usuario" required placeholder="Ingrese su usuario..." size="80" type="text"
                    value="{{ nickname }}" />
            </div>
            <div class="inputs">
                <label for="clave">Contraseña:</label>
                <input id="clave" name="clave" required placeholder="Ingrese una contraseña..." size="80"
                    type="password" value="{{ clave }}" />
            </div>
            <div class="inputs">
                <label for="confirm">Confirmar contraseña:</label>
                <input id="confirm" name="confirm" required placeholder="Ingrese nuevamente la contraseña..." size="80"
                    type="password" value="{{ clave }}" />
            </div>
            <div class="inputs">
                <button id="accept_submit" name="accept_submit" type="submit" value="">Confirmar</button>
            </div>
        </form>
    </div>
</body>

</html>