<!DOCTYPE html>
<html lang="en">

<head>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/estilos.css') }}" rel="stylesheet">
    <!-- Fuente del logo -->
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <a href="/index"><img class="logo" src="../static/imagenes/logo.png"></a>
        </div>
        <a class="titulo" href="/index">Horticultura Virtual</a>
        <nav>
            <a class="" href="/index">Inicio</a>
            <a class="" href="#">Cultivos</a>
            <a class="" href="/casos/{{userid}}">Mis Casos</a>
            {% if rol == 1 %}
            <a class="" href="/caso/{{ userid }}">Crear caso</a>
            {% else %}
            <a class="" href="/todosloscasos">Todos los casos</a>
            {% endif %}
            <a class="" href="/logout">Log Out ({{ nickname }})</a>
            <a class="" href="/usuario">Perfil</a>
        </nav>
    </header>
    <section class="sector">
        <form action="editar_caso" method="post" name="signup">
            <label for="nombre">Nombre de la planta</label>
            <input id="nombre" name="nombre" required placeholder="Ingrese nombre del cultivo..." type="text" size="50">
            <br>
            <label for="tipo">Ingrese el tipo del cultivo</label>
            <input id="tipo" name="tipo" required placeholder="Ingrese el tipo del cultivo..." type="text" size="50">
            <br>
            <label for="foto">foto de la enfermedad o plaga</label>
            <input id="foto" name="foto" required type="file">
            <br>
            <label for="desc">Ingrese una descripcion del problema</label>
            <textarea id="desc" name="desc" required placeholder="Ingrese descripcion..."></textarea>
            <br>
            <label for="estado">Estado</label>
            <input id="estado" name="estado" required placeholder="Ingrese estado" type="text" size="50">
            <br>
            <label for="evolucion">Evolucion del caso</label>
            <input id="evolucion" name="evolucion" required placeholder="Evolucion del caso..." type="text" size="50">
            <br>
            <label for="date">Fecha de creacion</label>
            <input id="date" name="date" required type="date" size="50"><input type="time">
            <br>
            <button id="crear_submit" name="crear_submit" type="submit">Editar Caso</button>
        </form>
    </section>
    <footer>
        <div class="copyright">
            <p>Copyright 2021</p>
        </div>
        <section>
            <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
            </div>
        </section>
        <div class="terminos">
            <a href="#">Terminos y Condiciones</a>
        </div>
    </footer>
</body>

</html>