<!DOCTYPE html>
<html lang="en">

<head>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/estilos.css') }}" rel="stylesheet">
    <!-- Fuente del logo -->
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <a href="#"><img class="logo" src="../static/imagenes/logo.png"></a>
        <a class="titulo" href="#">Horticultura Virtual</a>
        <nav>
            <a class="" href="/index">Inicio</a>
            <a class="" href="#">Cultivos</a>
            <a class="" href="/casos/{{ userid }}">Mis Casos</a>
            {% if rol == 1 %}
            <a class="" href="/caso/{{ userid }}">Crear caso</a>
            {% else %}
            <a class="" href="/todosloscasos">Todos los casos</a>
            {% endif %}
            <a class="" href="/logout">Log Out ({{ nickname }})</a>
            <a class="active" href="#">Perfil</a>
        </nav>
    </header>
    <section>
        <form action="/usuario/{{ userid }}" method="POST" name="profile" onsubmit="return validateProfileDHTML(this)">
            <div class="inputs">
                <label for="nombre">Nombre Completo:</label>
                <input id="nombre" maxlength="64" name="nombre" required placeholder="Ingrese su nombre y apellido..."
                    size="80" type="text" value="{{ nombre }}" />
            </div>
            <div class="inputs">
                <label for="email">Email:</label>
                <input id="email" name="email" required placeholder="Ingrese su email..." size="80" type="text"
                    value="{{ email }}" />
            </div>
            <div class="inputs">
                <label for="usuario">Usuario:</label>
                <input id="usuario" name="usuario" required placeholder="Ingrese su usuario..." size="80" type="text"
                    value="{{ nickname }}" />
            </div>
            <div class="inputs">
                <label for="clave">Contraseña:</label>
                <input id="clave" name="clave" required placeholder="Ingrese una contraseña..." size="80"
                    type="password" value="{{ clave }}" />
            </div>
            <div class="inputs">
                <label for="confirm">Confirmar contraseña:</label>
                <input id="confirm" name="confirm" required placeholder="Ingrese nuevamente la contraseña..." size="80"
                    type="password" value="{{ clave }}" />
            </div>
            <div class="inputs">
                <button id="accept_submit" name="accept_submit" type="submit" value="">Confirmar</button>
            </div>
        </form>
    </section>
    <footer>
        <div class="copyright">
            <p>Copyright 2021</p>
        </div>
        <section>
            <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
            </div>
        </section>
        <div class="terminos">
            <a href="#">Terminos y Condiciones</a>
        </div>
    </footer>
</body>

</html>