<!DOCTYPE html>
<html lang="en">

<head>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/estilos.css') }}" rel="stylesheet">
    <!-- Fuente del logo -->
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div>
            <a href="/cultivos"><img class="logo" src="/static/imagenes/logo.png"></a>
        </div>
        <a class="titulo" href="/cultivos">Horticultura Virtual</a>
        <nav>
            <a class="" href="/cultivos">Cultivos</a>
            <a class="" href="/casos/{{ usuario[0] }}">Mis Casos</a>
            {% if rol == 1 %}
            <a class="" href="/caso/{{ usuario[0] }}">Crear caso</a>
            {% else %}
            <a class="" href="/casos">Todos los casos</a>
            {% endif %}
            <a class="" href="/logout">Salir ({{ usuario[3] }})</a>
            <a class="active" href="#">Perfil</a>
        </nav>
    </header>
    <section class="sector">
        <div class="container">
            <h2 class="text-center">{{usuario[1]}}</h2>
            <br>
            <h3 class="text-center">Detalles del usuario</h3>
            <br>
            <div>
                <p class="flotante-left2">Nombre de usuario:</p><span class="datos">{{usuario[3]}}</span>

                <br>
                <p class="flotante-left2">Correo:</p><span class="datos">{{usuario[2]}}</span>

                <div class="clearfix"></div>
            </div>
            <br>
            <a href="/formulario_us"><button class="float-right button"  type="submit">Cambiar Datos</button></a>
            <a href="/formulario_clave"><button class="button" type="submit">Cambiar Contraseña</button></a>
            <div class="clearfix"></div>
        </div>
    </section>
    <footer>
        <div class="copyright">
            <p>Copyright 2021</p>
        </div>
        <section>
            <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
            </div>
        </section>
        <div class="terminos">
            <a href="#">Terminos y Condiciones</a>
        </div>
    </footer>
    <script src="/static/js/codigo.js"></script>
</body>

</html>