<!DOCTYPE html>
<html>

<head>
    <script>
    </script>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="">
        <a href="#">Inicio</a>
        <div>
            {% if logged %}
            <a class="active" href="#">Inicio</a>
            <a class="" href="#">Ver Cultivos</a>
            <a class="" href="/casos/{{ userid }}">Ver Mis Casos</a>
            <a class="" href="/caso/{{ userid }}">Crear nuevo caso</a>
            <a class="" href="/logout">Log Out ({{ nickname }})</a>
            <a class="" href="/usuario/{{ userid }}">Perfil</a>
            {% else %}
            <a class="active" href="/index">Inicio</a>
            <a class="" href="/login">Ingresar</a>
            <a class="" href="/">Registrarse</a>
            {% endif %}
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="texto">Horticultura</h1>
    </div>
</body>

</html>