<!DOCTYPE html>
<html>

<head>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/estilos.css') }}" rel="stylesheet">
    <!-- Fuente del logo -->
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <a href="#"><img class="logo" src="../static/imagenes/logo.png"></a>
        </div>
        <a class="titulo" href="#">Horticultura Virtual</a>
        <nav>
            {% if logged %}
            <a class="active" href="#">Inicio</a>
            <a class="" href="#">Cultivos</a>
            <a class="" href="/casos/{{ userid }}">Mis Casos</a>
            {% if rol == 1 %}
            <a class="" href="/caso/{{ userid }}">Crear caso</a>
            {% else %}
            <a class="" href="/todosloscasos">Todos los casos</a>
            {% endif %}
            <a class="" href="/logout">Log Out ({{ nickname }}) </a>
            <a class="" href="/usuario/{{ userid }}">Perfil</a>
            {% else %}
            <a class="active" href="/index">Inicio</a>
            <a class="" href="/login">Ingresar</a>
            <a class="" href="/signup">Registrarse</a>
            {% endif %}
        </nav>
    </header>
    <section class="sector">
        <div class="slider">
            <ul>
                <li><img src="../static/imagenes/fertilizantes.jpg" class="d-block w-100" alt="..."></li>
                <li><img src="../static/imagenes/maquinaria.jpg" class="d-block w-100" alt="..."></li>
                <li><img src="../static/imagenes/semillas.jpg" class="d-block w-100" alt="..."></li>
            </ul>
        </div>
    </section>
    <footer>
        <div class="copyright">
            <p>Copyright 2021</p>
        </div>
        <section>
            <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
            </div>
        </section>
        <div class="terminos">
            <a href="#">Terminos y Condiciones</a>
        </div>
    </footer>
    <script src="../static/js/index.js"></script>
</body>

</html>