<!DOCTYPE html>
<html>

<head>
	<script>

	</script>
	<title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet">
</head>

<body>
	<nav class="">
        <a href="#">Index</a>
        <div>
            <div>
                <a class="active" href="/index">Inicio</a>
                <a class="" href="/home">Home</a>
                <a class="" href="/login">Ingresar</a>
                <a class="" href="/usuarios">Registrarse</a>
                <a class="" href="#">Ver Mis Casos</a>                
                <a class="" href="#">Crear nuevo caso</a>
                <a class="" href="#">Ver Cultivos</a>
            </div>
        </div>
    </nav>
	<div class="jumbotron">
		<h1 class="texto">Horticultura</h1>
	</div>
</body>

</html>