<!DOCTYPE html>
<html>

<head>
    <title>Horticultura</title>
    <link href="{{ url_for('static', filename='/css/estilos.css') }}" rel="stylesheet">
    <!-- Fuente del logo -->
    <link href="https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .required {
            color: red;
            padding-left: 4px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("input[required]").parent().prev().append($("<span>").text("*").addClass("required"));
        })
    </script>
</head>

<body>
    <header>
        <div>
            <a href="/index"><img class="logo" src="../static/imagenes/logo.png"></a>
        </div>
        <a class="titulo" href="/index">Horticultura Virtual</a>
        <nav class="">
            <a class="" href="/index">Inicio</a>
            <a class="active" href="#">Ingresar</a>
            <a class="" href="/signup">Registrarse</a>
        </nav>
    </header>
    <section class="sector">
        <div id="contenedor" class="container">
            <form action="/login" method="post" name="login" onsubmit="return validarlogin(this)">
                <div class="row">
                    <div class="col-25">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-75">
                        <input id="email" name="email" required placeholder="Ingrese su email..." size="50" type="text"
                            value="{{ email }}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="clave">Password</label>
                    </div>
                    <div class="col-75">
                        <input id="clave" name="clave" required placeholder="Ingrese su contraseña..." size="50"
                            type="password" value="" />
                    </div>
                </div>
                <div class="col-25 recordar">
                    <label for="remember_me">
                        <input id="remember_me" name="remember_me" type="checkbox" value="y" />
                        Recordarme
                    </label>
                </div>
                <ul class="errorMessages display-none" id="errores_profile"></ul>
                <label id="error" class="required">{{ error }}</label>
                <div class="row">
                    <button class="button-form" id="login_submit" name="login_submit" type="submit"
                        value="Ingresar">Ingresar</button>
                </div>
            </form>
        </div>
        <div class="slider">
            <ul>
                <li><img src="../static/imagenes/fertilizantes.jpg" class="d-block w-100" alt="..."></li>
                <li><img src="../static/imagenes/maquinaria.jpg" class="d-block w-100" alt="..."></li>
                <li><img src="../static/imagenes/semillas.jpg" class="d-block w-100" alt="..."></li>
            </ul>
        </div>
    </section>
    <footer>
        <div class="copyright">
            <p>Copyright 2021</p>
        </div>
        <section>
            <div style="display: flex">
                <span class="material-icons">
                    email
                </span><a class="ubi" href="mailto:horticultura@gmail.com">Email</a>
            </div>
        </section>
        <div class="terminos">
            <a href="#">Terminos y Condiciones</a>
        </div>
    </footer>
    <script src="../static/js/codigo.js"></script>
</body>

</html>