<html lang="es">
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

        <script>
            $(document).ready(function(){
                $( ".fecha, .abrir-calendario-arriba" ).datepicker();
            });
        </script>
    </head>
    <body>

        <p><input type="submit" class="fecha" id="datepicker" value="Fecha"></p>
        <p><input type="submit" class="abrir-calendario-arriba" id="datepicker" value="Cambiar y abrir el calendario en el boton de arriba"></p>

    </body>
</html>